@model renthubmap.Models.DTOContainer
@{
    ViewBag.Title = "Index";
}
<h2> Search Apartment </h2>
<div class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("SearchResult", "Renthub", "POST"))
            {
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Aplartment List Link</label>
                    <div class="col-10">
                        <input class="form-control" type="text" placeholder="Apartment Link" id="example-text-input" name="link">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Search</label>
                    <div class="col-10">
                        <input class="form-control" type="search" placeholder="How do I shoot web" id="example-search-input">
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

            }
        </div>
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col">
            @Html.Partial("SearchResult", Model)
        </div>
        <div class="col">
            1 of 3
        </div>
    </div>
</div>
<div id="googleMap" style="width:100%;height:400px;"></div>


<script type="text/jscript">

    //$(document).ready(function () {
    //    $("#partialviews").load('/RentHub/Se');
    //});

        function iniitMap() {
            var loc = dcp(@ViewBag.hash, 5);
            var mapProp = {
                center: new google.maps.LatLng(loc[0][0], loc[0][1]),
                zoom: 12,
            };

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }

        function dcp(e, t) {
            r = e.substr(0, e.length - 7), t = Math.pow(10, -t);
            for (var n = r.length, i = 0, s = 0, o = 0, u = []; n > i;) {
                var a, f = 0,
                    l = 0;
                do a = r.charCodeAt(i++) - 63, l |= (31 & a) << f, f += 5; while (a >= 32);
                var c = 1 & l ? ~(l >> 1) : l >> 1;
                s += c, f = 0, l = 0;
                do a = r.charCodeAt(i++) - 63, l |= (31 & a) << f, f += 5; while (a >= 32);
                var h = 1 & l ? ~(l >> 1) : l >> 1;
                o += h, u.push([s * t, o * t])
            }
            return u
        }

        function dcpp(e, t) {
            t = Math.pow(10, -t);
            for (var n = e.length, r = 0, i = 0, s = 0, o = []; n > r;) {
                var u, a = 0,
                    f = 0;
                do u = e.charCodeAt(r++) - 63, f |= (31 & u) << a, a += 5; while (u >= 32);
                var l = 1 & f ? ~(f >> 1) : f >> 1;
                i += l, a = 0, f = 0;
                do u = e.charCodeAt(r++) - 63, f |= (31 & u) << a, a += 5; while (u >= 32);
                var c = 1 & f ? ~(f >> 1) : f >> 1;
                s += c, o.push([i * t, s * t])
            }
            return o
        }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn24kCsp2FwoLeOjeF82tu6bUmEMM7_KE&callback=iniitMap"></script>
